<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

    <!-- About me -->
    <section id="about" class="section section__container">
        <img src="asset/imgs/kunwoo.jpg" alt="Colin's profile photo" class="about__avatar"/>
        <h1>About Me</h1>
        <h2>I am Kunwoo Yoon(Colin),</h2>
        <p>Software engineering development student at Centennial College. I am currently looking for Co-op.<br> I am eager to learn new languages and real-field working environment. 
            I have ability to accept an obstacle and make it as a opportunity.<br>I also have travelled many countries and now love this country more than anyone.</p>
         <a class = "resume__link" href="asset/resume/KunwooYoon-Resume.pdf" target="black"><i class="far fa-file"></i> Link to my resume</a>
        <div class="about__majors">
                <div class="major">
                    <div class="major__icon">
                        <i class="fab fa-html5"></i>
                    </div>
                    <h2 class="major__title">Front-end</h2>
                    <div class="major__description">HTML, CSS, JavaScript</div>   
                </div>

                <div class="major">
                    <div class="major__icon">
                        <i class="fab fa-stack-exchange"></i>
                    </div>
                    <h2 class="major__title">Back-end</h2>
                    <div class="major__description">C#, Java, Oracle SQL, MY SQL</div>   
                </div>
            </div>   
   
    </section>

    <!-- Skills -->
    <section id="skills" class="section">
        <div class="section__container">
            <h1>Skills</h1>
            <h2>Skills & Attributes</h2>
            <p> Software Engineering development student.
                Passion for learning new technologies.
                Capable of working within a team environment and independently.
                Ability to plan and time schedule, work under strict time pressure and adapt quickly when needed.</p>
            <div class="skillset">
                <div class="skillset__left">
                    <h3 class="skillset__title">Skills</h3>
                    <div class="skill">
                        <div class="skill__description">
                            <span>HTML</span>
                            <span>70%</span>
                        </div>
                        <div class="skill__bar">
                            <div class="skill__value" style="width: 70%;"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="skill__description">
                            <span>CSS</span>
                            <span>70%</span>
                        </div>
                        <div class="skill__bar">
                            <div class="skill__value" style="width: 70%;"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="skill__description">
                            <span>C#</span>
                            <span>60%</span>
                        </div>
                        <div class="skill__bar">
                            <div class="skill__value" style="width: 60%;"></div>
                        </div>
                    </div>                                
                </div>
                <div class="skillset__right">
                    <div class="tools">
                        <h3 class="skillset__title">Skills</h3>
                        <ul class="tools__list">
                            <li><span>Visual Studio</span></li>
                            <li><span>Visual Studio Code</span></li>
                            <li><span>Sublime Text</span></li>
                        </ul>
                    </div>
                    <div class="etc">
                        <h3 class="skillset__title">etc</h3>
                        <ul class="etc__list">
                            <li><span>Git</span></li>
                        </ul>
                    </div>
                </div>
            </div>    
        </div>
    </section>

    </div>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  