   <!-- Project -->
    <section id="project" class="section">
    <div class="section__container">
        <h1>My project</h1>
        <h3>Projects</h3>
        <div class="project__categories">
            <button class="category__btn selected" data-filter="*">All<span class="category__count">3</span></button>
            <button class="category__btn" data-filter="front-end">Front-end<span class="category__count">2</span></button>
            <button class="category__btn" data-filter="back-end">Back-end<span class="category__count">1</span></button>
        </div>
        <div class="project__projects">
            <a href="https://colllin.000webhostapp.com/register.php" class="project" target="black" data-type="back-end">
                <img src="/asset/imgs/project1.PNG" alt="project1" srcset="../../asset/imgs/project1.PNG **0.8**x" alt="image" class="project__img">
                <div class="project__description">
                    <h3>Project1</h3>
                    <span>A social networking website using Object Oriented approach, including features such as newsfeeds, profiles and friend system.</span>
                </div>
            </a>
            <a href="https://ykw0628.github.io/YotubeMobile/" class="project" target="black" data-type="front-end">
                <img src="/asset/imgs/youtube.PNG" alt="project1" srcset="../../asset/imgs/youtube.PNG **0.8**x" alt="image" class="project__img">
                <div class="project__description">
                    <h3>Youtube clon</h3>
                    <span>Website look like Youtube. In terms of excercising HTML, CSS and JavaScript</span>
                </div>
            </a>
            <a href="https://github.com/ykw0628/Git-tutorial/" class="project" target="black" data-type="front-end">
                <img src="/asset/imgs/4-DOM-pig-game.PNG" alt="project1" srcset="../../asset/imgs/youtube.PNG **0.8**x" alt="image" class="project__img">
                <div class="project__description">
                    <h3>Pig game</h3>
                    <span>Players rolls a dice, The first player to reach 100 points on GLOBAL score wins the game</span>
                </div>
            </a>
        </div>
    </div>
    </section>